@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
}
.header{
    margin: 0;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.first-row, .second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.second-row{
    width: 1000px;
    margin-left: 362px;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    flex-grow: 0;
}


#logo{
    font-size: 24px;
    color: #F9FAF8;
    
}
.links{
    font-size:18px;
    color: #F9FAF8;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
}
a{
    text-decoration: none;
}
#hero-text{
    font-weight: 900;
    font-size: 48px;
    
}
img{
    max-width: 250px;
    max-height: 250px;
}

